
*.aux
*.bbl
*.blg
*.brf
*.log
*.out
*.Pages
*.toc
**/*.aux
*.lof
*.lot
*.lod
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.mlg
*.mni
*.mno
*.loa
*.lol
*.sync*
.vscode
thesis.pdf
output/